@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./images/bodyBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@layer components {
  .vid {
    @apply w-full h-64 md:h-96 rounded-2xl;
  }
}

@layer components {
  .vids {
    @apply rounded-3xl cursor-pointer transform transition-transform duration-200 hover:scale-105 opacity-60 hover:opacity-100;
  }
}
