@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./images/bodyBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
